URxvt*termName: screen-256color
URxvt*loginShell: true
URxvt*scrollColor: #777777
URxvt*scrollstyle: plain
URxvt*scrollTtyKeypress: true
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: false
URxvt*secondaryScreen: true
URxvt*secondaryScroll: true
URxvt*skipScroll: true
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollBar_floating: false
URxvt*fading: 30
URxvt*utmpInhibit: false
URxvt*urgentOnBell: false
URxvt*visualBell: false
URxvt*mapAlert: true
URxvt*mouseWheelScrollPage: false
URxvt*background: Black
URxvt*foreground: White
URxvt*colorUL: yellow
URxvt*underlineColor: yellow
URxvt*externalBorder:
URxvt*borderColor: black

URxvt*font: xft:Menlo for Powerline:autohint=true:pixelsize=20,xft:Symbola,xft:Noto Emoji:minspace=False
URxvt*saveLines: 5000
URxvt*buffered: true
URxvt*hold: false
URxvt*print-pipe: cat > $HOME/$(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))
!URxvt.perl-lib:            $HOME/.config/urxvt/ext/
URxvt*perl-ext-common:        default,matcher,selection-to-clipboard
URxvt*url-launcher:        /usr/bin/firefox
URxvt*matcher.button:        1
URxvt*geometry: 100x30

!URxvt*keysym.Shift-Control-V: eval:paste_clipboard
!URxvt*keysym.Shift-Control-C: eval:selection_to_clipboard
!URxvt.keysym.C-Up:     font-size:increase
!URxvt.keysym.C-Down:   font-size:decrease
URxvt*iso14755_52: false

!URxvt.keysym.C-V: perl:paste_clipboard
!URxvt.keysym.C-C: eval:selection-to-clipboard
!URxvt.keysym.C-V: selection-to-clipboard
URxvt*iso14755: false
URxvt.clipboard.autocopy: true
URxvt.keysym.C-C: perl:clipboard:copy
!URxvt.keysym.C-V: perl:clipboard:paste
URxvt.keysym.C-V: eval:paste_clipboard

urxvt*foreground: white
urxvt*background: black

*color0: #282828
*color1: #e05f68
*color2: #37d659
*color3: #f1cb3b
*color4: #478ecc
*color5: #c245f0
*color6: #00a4af
*color7: #dddddd
*color8: #666666
*color9: #ff505c
*color10: #3bff65
*color11: #f8ee45
*color12: #389cff
*color13: #e345f0
*color14: #23dce8
*color15: #cccccc

Xcursor.size: 22
